a:hover {
  color: #c45500;
  text-decoration: underline; 
}

.container {
  border-bottom: 1px solid #CCC;
}

.nameLink {
  color: #0066c0;
  margin-left: 2px;
  text-decoration: none;
} 

.provider {
  color: #000000;
  margin-bottom: 0px;  
  text-align: left; 
}

.title {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.3;
  text-align: left;  
}