.container {
  margin-left: 0px;
  margin-top: 20px;
}

.ul {
  color: #949494;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 19px;
  padding-left: 15px;
  text-align: left; 
}

